[submodule "FrecklesEngine/vendor/spdlog"]
	path = FrecklesEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "FrecklesEngine/vendor/glfw"]
	path = FrecklesEngine/vendor/glfw
	url = https://github.com/JohanJacobs/glfw
[submodule "FrecklesEngine/vendor/glm"]
	path = FrecklesEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "FrecklesEngine/vendor/ImGui"]
	path = FrecklesEngine/vendor/ImGui
	url = https://github.com/JohanJacobs/imgui
[submodule "FrecklesEngine/vendor/entt"]
	path = FrecklesEngine/vendor/entt
	url = http://github.com/skypjack/entt
