[submodule "FrecklesEngine/vendor/spdlog"]
	path = FrecklesEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "FrecklesEngine/vendor/glfw"]
	path = FrecklesEngine/vendor/glfw
	url = https://github.com/JohanJacobs/glfw
